<service>
	<serviceName>tienda</serviceName>
	<serviceAliases>
		<alias>mercado</alias>
		<alias>supermercado</alias>
		<alias>shop</alias>
		<alias>shopping</alias>
		<alias>shoping</alias>
	</serviceAliases>
	<serviceDescription>Permite comprar articulos con su credito y recibirlos en la puerta de su casa</serviceDescription>
	<creatorEmail>kumahavana@gmail.com</creatorEmail>
	<serviceCategory>negocios</serviceCategory>
</service>
